// Default styles

body {
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-center {
    text-align: center;
}

.toggle-button {
    color: #0000ff;
    cursor: pointer;
}

// Form

.form {
    &--mb {
        margin-bottom: 20px;
    }
}

.form__group {
    margin-bottom: 20px;
}

// Page

.page {
    &--center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
}

.page__title {
    margin-bottom: 20px;
    
    text-align: center;
}